.container__footer {
  margin: auto auto 0 auto;
  padding: 100px 0 20px 0;
}
.container__footer h5 {
    font-size: 1.5rem;
  background: #f5ab53;
  background: -webkit-linear-gradient(to right, #f5ab53 0%, #f53d02 100%);
  background: -moz-linear-gradient(to right, #f5ab53 0%, #f53d02 100%);
  background: linear-gradient(to right, #f5ab53 0%, #f53d02 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
