@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;1,400&family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Karla, sans-serif;
  font-weight: 400;
  color: #010403;
  background-color: #f7f7f7;
}

p {
  font-family: Karla, sans-serif;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
button,
span,
input,
label,
textarea {
  font-family: Rubik, sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
}
